<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    
    {% if params.css %}
    <link rel="stylesheet" href="/static/css/{{ params.css }}">
    {% endif %}

    <title>FullPyStack - {{ params.title }}</title>
</head>
<body>
<div id="wrap">
    <header>
        <h1>Full.Stack.Py</h1>
    </header>

    <nav>
        <a href="/">Inicio</a>
        <a href="/contatos">Contatos</a>
        <a href="/sobre">Sobre</a>
    
    </nav>

    <main>
        {# aqui sera exibido o conteudo HTML da pagina. #}
        {% block content %}{% endblock %}

    </main>

    <footer>
        &copy; 2023 Eu Mesmo!
        <small><a href="/privacidade">Politicas de Privacidade</a></small>
    </footer>

</div>

<script src="/static/js/scripts.js"></script>

{% if params.js %}
<script src="/static/js/{{ params.js }}"></script>
{%endif%}

</body>
</html>